<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
</head>
<body>
    <header>
        <div class="navegador">
            <div class="logo">
                <img src="assets/imagenes/mando.png" alt="">
                <h1>Retro Juegos</h1>
            </div>
            <div class="icono">
                <label for="boton-menu"><img src="assets/imagenes/menu.svg"></label>
            </div>
            <input type="checkbox" id="boton-menu">
            <nav class="enlaces" id="menu">
                <a href="">Principal</a>
                <a href="listadejuegos">Lista de juegos</a>
                <a href="topjuegos">Top juegos</a>
                <a href="galeria">Galería</a>
                <a href="contacto">Contactanos</a>
            </nav>
        </div>
    </header>
    <section class="contenedor_imagenes">
        <div class="subtitulo_galeria">
            <h2>Aqui encontraras las mejores imagenes</h2>
        </div>
        <div class="galerias">
            <img src="assets/imagenes/mariobross.gif" alt="" height="400px">
            <img src="assets/imagenes/2.jpg" alt="" height="400px">
            <img src="assets/imagenes/duck-hunt.gif" alt="" height="400px">
            <img src="assets/imagenes/amongus.jpg" alt="" height="400px">
            <img src="assets/imagenes/CandyCrush.jpg" alt="" height="400px">
            <img src="assets/imagenes/Sonic.png" alt="" height="400px">
            <img src="assets/imagenes/1.jpg" alt="" height="400px">
            <img src="assets/imagenes/3.jpg" alt="" height="400px">
            <img src="assets/imagenes/Bomberman1.png" alt="" height="400px">
            <img src="assets/imagenes/6.jpg" alt="" height="400px">
            <img src="assets/imagenes/biborita.jpg" alt="" height="400px">
            <img src="assets/imagenes/4.jpg" alt="" height="400px">
            <img src="assets/imagenes/5.jpg" alt="" height="400px">
            <img src="assets/imagenes/serpi.jpg" alt="" height="400px">
            <img src="assets/imagenes/pokemon.jpg" alt="" height="400px">
            <img src="assets/imagenes/pacman.gif" alt="" height="400px">
            <img src="assets/imagenes/PlantsVsZombies.jpg" alt="" height="400px">
            <img src="assets/imagenes/thekingoffighter98.jpg" alt="" height="400px">
            <img src="assets/imagenes/juana de arco.jpg" alt="" height="400px">
            <img src="assets/imagenes/metal.png" alt="" height="400px">
            <img src="assets/imagenes/luigi.gif" alt="" height="400px">
        </div>
    </section>
    <footer>
        <section class="extenciones">
            <div class="clase-caja">
               <div class="galeria">
                    <img src="assets/imagenes/mando.png">
                    <h3>Galeria</h3>
                    <p>Aqui encontraras las imagenes mas destacadas.</p>
                </div>
                <div class="galeria">
                    <img src="assets/imagenes/caja.png">
                    <h3>Bonus diarios</h3>
                    <p>Aqui opten bonus de tu juego favorito.</p>
                </div> 
                <div class="galeria">
                    <img src="assets/imagenes/icono.png">
                    <h3>Soporte virtual</h3>
                    <p>Puedes contactarte con el soporte en linea grupomaquetacion@gmail.com</p>
                </div> 
            </div>
        </section>
        <section class="contenedor-social">
            <div class="redes">
                <img src="assets/imagenes/facebook.png" alt="">
            </div>
            <div class="redes">
                <img src="assets/imagenes/twitter.png" alt="">
            </div>
            <div class="redes">
                <img src="assets/imagenes/whatsapp.png" alt="">
            </div>
        </section>
        <section class="contenedor-contacto">
            <a href="#">Correo electronico: estructurahtml@gmail.com</a>
            <h3>Contactos:</h3>
            <p>78730139</p>
        </section>
    </footer>
</body>
</html> 