    <header>
        <div class="navegador">
            <div class="logo">
                <img src="assets/imagenes/mando.png">
                <h1>Retro Juegos</h1>
            </div>
            <div class="icono">
                <label for="boton-menu"><img src="assets/imagenes/menu.svg"></label>
            </div>
            <input type="checkbox" id="boton-menu">
            <nav class="enlaces" id="menu">
                <a routerLink="">Principal</a>
                <a routerLink="/listadejuegos">Lista de juegos</a>
                <a routerLink="/topjuegos">Top juegos</a>
                <a routerLink="/galeria">Galería</a>
                <a routerLink="/contacto">Contactanos</a>
            </nav>
        </div>
    </header>
    <main>
        <div>
            <div class="portada">
                <img src="assets/imagenes/pacman.gif" alt="">
            </div>
            <p class="introduccion">Bienvenido al mundo de los juegos antiguos que formaron la historia de la industria de los videojuegos.
                Estos juegos representan los mejores videojuegos para las generaciones de aquellos viejos tiempos. 
                Nuestra misión es mantener vivos los juegos de las décadas de 1980 y 1990, que fueron creados para consolas 
                y sistemas que ya no se pueden comprar y que ya no cuentan con el soporte de sus desarrolladores y fabricantes.
                Gracias a este archivo, puede usar su navegador para jugar juegos antiguos. </p>
        </div>
        <div class="contenedor-juegos">
            <div>
                <h2 style="text-align:center ;">Aquí encontrarás el top de los mejores juegos de todos los tiempos.</h2>
            </div>
            <div class="caja-juegos">
                <div class="juegos">
                    <h3>METAL SLUG</h3>
                    <img src="assets/imagenes/1.jpg" alt="">
                    <p>Ningún juego de la saga principal de Metal
                        Slug ha perdido un ápice de su esplendor
                        original. Es más, lng impiar de enemigos y 
                        colosos mecanizados cada una de las seis
                        misiones de Metal Slug: Super Vehicle-001
                        a base de balazos, fuego y explosiones en
                        clave de píxel art sigue siendo todo un 
                        gustazo. Y a dos jugadores, una bendita 
                        locura. Lo era en 1996, cuando los 
                        temerarios Marco Rossi y Tarma Roving 
                        debutaron en los salones recreativos.
                        Ambos, armados hasta los dientes. </p>
                </div>
                <div class="juegos">
                    <h3>CRASHBANDICOOT</h3>
                    <img src="assets/imagenes/crashbandicoot.jfif" alt="">
                    <p>La serie trata de Crash Bandicoot, un marsupial evolucionado por 
                        el científico loco Neo Córtex, quien tenía intenciones viles de 
                        controlarlo mentalmente para dirigir su ejército de animales mutantes.
                        La historia se desarrolla en unas islas ficticias al sur de Australia,
                        por lo que su fauna y entorno se apegan a esta región. Inicialmente, 
                        la misión de Crash Bandicoot era rescatar a su novia Tawna de Neo Córtex,
                         pero luego se transformó en impedir los planes del científico una y otra vez</p>
                </div>
                <div class="juegos">
                    <h3>BOMBERMAN</h3>
                    <img src="assets/imagenes/Bomberman1.png" alt="">
                    <p>¡Bomberman es un juego retro en línea del sistema NES (un juego clásico), 
                        que se activó para jugar en línea en OldGamehSelf.com desde 2019/10/22. 
                        Hasta ahora, esta versión de navegador de Bomberman se ha archivado como una 
                        obra de arte del museo y se ha calificado 4.31 de 5 puntos, 313 número tomado en 
                        calificar esto. El juego es una especie de acción, aventura, tiro, rgp. También 
                        puedes jugar Bomberman nes en el móvil</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="extenciones">
            <div class="clase-caja">
               <div class="galeria">
                    <img src="assets/imagenes/mando.png">
                    <h3>Galeria</h3>
                    <p>Aqui encontraras las imagenes mas destacadas.</p>
                </div>
                <div class="galeria">
                    <img src="assets/imagenes/caja.png">
                    <h3>Bonus diarios</h3>
                    <p>Aqui opten bonus de tu juego favorito.</p>
                </div> 
                <div class="galeria">
                    <img src="assets/imagenes/icono.png">
                    <h3>Soporte virtual</h3>
                    <p>Puedes contactarte con el soporte en linea grupomaquetacion@gmail.com</p>
                </div> 
            </div>
        </div>
        <div class="contenedor-social">
            <div class="redes">
                <img src="assets/imagenes/facebook.png" alt="">
            </div>
            <div class="redes">
                <img src="assets/imagenes/twitter.png" alt="">
            </div>
            <div class="redes">
                <img src="assets/imagenes/whatsapp.png" alt="">
            </div>
        </div>
        <div class="contenedor-contacto">
            <a href="#">Correo electronico: estructurahtml@gmail.com</a>
            <h3>Contactos:</h3>
            <p>78730139</p>
        </div>
    </footer>
